﻿@page
@{
    ViewData["Title"] = "SignalR Pixalpainter JS client";
}

<body>
    <div class="container clearfix">
        <div class="chat">
            <div class="chat-header clearfix">
                <div class="chat-about">
                    <div class="chat-num-messages"><span data-bind="text: users"></span> users connected</div>
                </div>
                <i class="fa fa-star"></i>
            </div> <!-- end chat-header -->
          
        </div> <!-- end chat -->
    </div> <!-- end container -->
    <div>
        <canvas id="canvas"></canvas>
    </div>

    @section Scripts{
        <script src="js/signalr.js"></script>
        <script src='js/knockout.js'></script>
        <script src="js/pixelpainter.js"></script>
    }
    <script>
        c = document.getElementById('canvas');
        ctx = c.getContext('2d');
    </script>
</body>
    </html>
